@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default
};

body {
	overflow: hidden;
}

/* toast가 항상 모달보다 위에 오도록 */
.Toastify__toast-container {
  z-index: 99999 !important;
}

.Toastify__toast {
  z-index: 99999 !important;
}

.Toastify__overlay {
  z-index: 99999 !important;
}

/* html, body, #root {
  margin: 0;
  padding: 0;
  background: #FFFFFF !important;
  color: #000 !important;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
