@import "tailwindcss";
@plugin "daisyui" {
	themes: cupcake --default
};

@plugin "daisyui/theme" {
  name: "cupcake";
  default: true;
  --color-primary: rgb(210, 180, 140);      /* 버튼 배경색 */
  --color-primary-content: #000000;         /* 버튼 텍스트 색 */
  --color-accent: rgb(179, 130, 82);
  --color-accent-content: #000000;         /* 버튼 텍스트 색 */
}

body {
	overflow: hidden;
}

/* toast가 항상 모달보다 위에 오도록 */
.Toastify__toast-container {
  z-index: 99999 !important;
}

.Toastify__toast {
  z-index: 99999 !important;
}

.Toastify__overlay {
  z-index: 99999 !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.25s ease-in forwards;
}

.validator-hint {
  margin-top: .1rem;
  margin-left: .2rem;
}